config:
  branches:
    release-v1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.16:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.17:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.18:
      dependabotEnabled: false
      konflux:
        enabled: false
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.19:
      dependabotEnabled: false
      konflux:
        enabled: false
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.20:
      dependabotEnabled: false
      konflux:
        enabled: false
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.21:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e-tests$
  ignoreConfigs: {}
  imagePrefix: knative-backstage-plugins
  org: openshift-knative
  owners:
    approvers:
    - aliok
    - creydr
    - lberk
    - matzew
    - Cali0707
    - rudyredhat1
    - Kaustubh-pande
    reviewers:
    - aliok
    - creydr
    - lberk
    - matzew
    - Cali0707
  promotion:
    namespace: openshift
  repo: backstage-plugins
  slackChannel: '#knative-eventing-ci'
