config:
  branches:
    release-v1.12:
      konflux:
        Enabled: false
        Nudges: null
      openShiftVersions:
      - version: "4.15"
      - onDemand: true
        version: "4.12"
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e-tests$
  ignoreConfigs: {}
  imagePrefix: knative-backstage-plugins
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: backstage-plugins
  slackChannel: '#knative-eventing-ci'
