config:
  branches:
    release-v1.15:
      konflux:
        enabled: true
        imageOverrides:
        - name: CLI_ARTIFACTS
          pullSpec: brew.registry.redhat.io/rh-osbs/openshift-serverless-1-kn-cli-artifacts-rhel8:1.15.0
      openShiftVersions:
      - skipCron: true
        useClusterPool: true
        version: "4.18"
    release-v1.16:
      konflux:
        enabled: true
        imageOverrides:
        - name: CLI_ARTIFACTS
          pullSpec: brew.registry.redhat.io/rh-osbs/openshift-serverless-1-kn-cli-artifacts-rhel8:1.16.0
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - skipCron: true
        useClusterPool: true
        version: "4.18"
    release-v1.17:
      konflux:
        enabled: true
        imageOverrides:
        - name: CLI_ARTIFACTS
          pullSpec: brew.registry.redhat.io/rh-osbs/openshift-serverless-1-kn-cli-artifacts-rhel8:1.16.0
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - skipCron: true
        useClusterPool: true
        version: "4.18"
    release-v1.18:
      konflux:
        enabled: true
        imageOverrides:
        - name: CLI_ARTIFACTS
          pullSpec: brew.registry.redhat.io/rh-osbs/openshift-serverless-1-kn-cli-artifacts-rhel8:1.16.0
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - skipCron: true
        useClusterPool: true
        version: "4.18"
repositories:
- canonicalGoRepository: github.com/knative/client
  dockerfiles: {}
  e2e:
  - match: .*e2e$
    skipCron: true
    skipImages:
    - knative-client-kn
    - knative-client-cli-artifacts
  ignoreConfigs:
    matches:
    - .*release-next*
    - .*release-v1.1[0-4]*.yaml$
  imagePrefix: knative-client
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: client
  slackChannel: '#serverless-ci'
  owners:
    reviewers:
      - dsimansk
      - Kaustubh-pande
      - rudyredhat1
    approvers:
      - dsimansk
      - Kaustubh-pande
      - creydr
      - rudyredhat1
