config:
  branches:
    release-next:
      konflux:
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - useClusterPool: true
        version: "4.16"
      - onDemand: true
        version: "4.13"
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.12:
      openShiftVersions:
      - useClusterPool: true
        version: "4.16"
      - onDemand: true
        version: "4.12"
    release-v1.14:
      openShiftVersions:
      - useClusterPool: true
        version: "4.16"
      - onDemand: true
        version: "4.13"
    release-v1.15:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - useClusterPool: true
        version: "4.16"
      - onDemand: true
        version: "4.13"
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.16:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - useClusterPool: true
        version: "4.16"
      - onDemand: true
        version: "4.13"
      skipDockerFilesMatches:
      - .*hermetic.*
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e$
  - match: .*reconciler.*
  - match: .*conformance.*
  ignoreConfigs: {}
  imagePrefix: knative-eventing-kafka-broker
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: eventing-kafka-broker
  slackChannel: '#knative-eventing-ci'
