config:
  branches:
    release-next:
      openShiftVersions:
      - version: "4.14"
      - onDemand: true
        version: "4.12"
    release-v1.10:
      openShiftVersions:
      - skipCron: true
        version: "4.14"
    release-v1.11:
      openShiftVersions:
      - skipCron: true
        version: "4.14"
      - onDemand: true
        version: "4.12"
    release-v1.12:
      openShiftVersions:
      - version: "4.14"
      - onDemand: true
        version: "4.12"
    release-v1.13:
      openShiftVersions:
      - version: "4.14"
      - onDemand: true
        version: "4.12"
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e$
  - match: .*reconciler.*
  - match: .*conformance.*
  ignoreConfigs: {}
  imagePrefix: knative-eventing-kafka-broker
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: eventing-kafka-broker
  slackChannel: '#knative-eventing-ci'
