config:
  branches:
    release-next:
      konflux:
        javaImages:
        - .*eventing-integrations-aws-ddb-streams-source
        - .*eventing-integrations-aws-s3-sink
        - .*eventing-integrations-aws-s3-source
        - .*eventing-integrations-aws-sns-sink
        - .*eventing-integrations-aws-sqs-sink
        - .*eventing-integrations-aws-sqs-source
        - .*eventing-integrations-log-sink
        - .*eventing-integrations-timer-source
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.16:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-integrations-aws-ddb-streams-source
        - .*eventing-integrations-aws-s3-sink
        - .*eventing-integrations-aws-s3-source
        - .*eventing-integrations-aws-sns-sink
        - .*eventing-integrations-aws-sqs-sink
        - .*eventing-integrations-aws-sqs-source
        - .*eventing-integrations-log-sink
        - .*eventing-integrations-timer-source
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.17:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-integrations-aws-ddb-streams-source
        - .*eventing-integrations-aws-s3-sink
        - .*eventing-integrations-aws-s3-source
        - .*eventing-integrations-aws-sns-sink
        - .*eventing-integrations-aws-sqs-sink
        - .*eventing-integrations-aws-sqs-source
        - .*eventing-integrations-log-sink
        - .*eventing-integrations-timer-source
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.18:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-integrations-aws-ddb-streams-source
        - .*eventing-integrations-aws-s3-sink
        - .*eventing-integrations-aws-s3-source
        - .*eventing-integrations-aws-sns-sink
        - .*eventing-integrations-aws-sqs-sink
        - .*eventing-integrations-aws-sqs-source
        - .*eventing-integrations-log-sink
        - .*eventing-integrations-timer-source
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
      skipDockerFilesMatches:
      - .*hermetic.*
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e$
  - match: .*reconciler.*
  ignoreConfigs: {}
  imagePrefix: knative-eventing-integrations
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: eventing-integrations
  slackChannel: '#knative-eventing-ci'
  owners:
    reviewers:
      - aliok
      - creydr
      - lberk
      - matzew
      - Cali0707
    approvers:
      - aliok
      - creydr
      - lberk
      - matzew
      - Cali0707
