config:
  branches:
    release-next:
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
    release-v1.14:
      openShiftVersions:
      - onDemand: true
        version: "4.16"
      - onDemand: true
        version: "4.13"
    release-v1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.13"
    release-v1.16:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
    release-v1.17:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
    release-v1.18:
      konflux:
        enabled: true
      openShiftVersions:
      - useClusterPool: true
        version: "4.17"
      - onDemand: true
        version: "4.14"
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e$
  - match: .*reconciler.*
  - match: .*conformance.*
  ignoreConfigs: {}
  imagePrefix: knative-eventing
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: eventing
  slackChannel: '#knative-eventing-ci'
