config:
  branches:
    release-next:
      openShiftVersions:
      - version: "4.15"
      - version: "4.12"
    release-v1.10:
      openShiftVersions:
      - skipCron: true
        version: "4.15"
    release-v1.11:
      openShiftVersions:
      - skipCron: true
        version: "4.15"
      - onDemand: true
        skipCron: true
        version: "4.12"
    release-v1.12:
      openShiftVersions:
      - version: "4.15"
      - onDemand: true
        version: "4.12"
    release-v1.14:
      openShiftVersions:
      - version: "4.15"
      - version: "4.12"
    release-v1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - version: "4.15"
      - version: "4.12"
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e$
  - match: .*reconciler.*
  - match: .*conformance.*
  ignoreConfigs: {}
  imagePrefix: knative-eventing
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: eventing
  slackChannel: '#knative-eventing-ci'
