# Full struct in cmd/prowgen/prowgen.go#Config

config:
  branches:
    "release-v1.8":
      openShiftVersions:
        - 4.12
        - 4.10
    "release-v1.9":
      openShiftVersions:
        - 4.12
        - 4.10
    "release-v1.10":
      openShiftVersions:
        - 4.13
        - 4.10
    "release-next":
      openShiftVersions:
        - 4.12
        - 4.10

repositories:
  - org: openshift-knative
    repo: eventing-istio
    imagePrefix: knative-eventing-istio
    slackChannel: "#knative-eventing-ci"
    e2e:
      matches:
        - ".*e2e-tests$"
