config:
  branches:
    release-next:
      konflux:
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - useClusterPool: true
        version: "4.19"
      - onDemand: true
        version: "4.14"
      promotion: {}
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.15:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - useClusterPool: true
        version: "4.19"
      - onDemand: true
        version: "4.14"
      promotion: {}
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.16:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.20"
      - useClusterPool: true
        version: "4.19"
      - onDemand: true
        version: "4.14"
      promotion: {}
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.17:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.20"
      - useClusterPool: true
        version: "4.19"
      - onDemand: true
        version: "4.14"
      promotion: {}
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.18:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.20"
      - useClusterPool: true
        version: "4.19"
      - onDemand: true
        version: "4.14"
      promotion: {}
      skipDockerFilesMatches:
      - .*hermetic.*
    release-v1.19:
      konflux:
        enabled: true
        javaImages:
        - .*eventing-kafka-broker-receiver
        - .*eventing-kafka-broker-dispatcher
      openShiftVersions:
      - useClusterPool: true
        version: "4.19"
      - onDemand: true
        version: "4.14"
      promotion: {}
      skipDockerFilesMatches:
      - .*hermetic.*
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e$
  - match: .*reconciler.*
  - match: .*conformance.*
  ignoreConfigs: {}
  imagePrefix: knative-eventing-kafka-broker
  org: openshift-knative
  owners:
    approvers:
    - aliok
    - creydr
    - lberk
    - matzew
    - Cali0707
    - rudyredhat1
    - Kaustubh-pande
    - twoGiants
    reviewers:
    - aliok
    - creydr
    - lberk
    - matzew
    - Cali0707
  promotion:
    namespace: openshift
  repo: eventing-kafka-broker
  slackChannel: '#knative-eventing-ci'
