config:
  branches:
    release-next:
      openShiftVersions:
      - version: "4.14"
      - version: "4.12"
        onDemand: true
    release-v1.10:
      openShiftVersions:
      - version: "4.14"
      - version: "4.11"
        onDemand: true
    release-v1.11:
      openShiftVersions:
      - version: "4.14"
      - version: "4.12"
        onDemand: true
    release-v1.12:
      openShiftVersions:
      - version: "4.14"
      - version: "4.12"
        onDemand: true
    release-v1.13:
      openShiftVersions:
      - version: "4.14"
      - version: "4.12"
        onDemand: true
repositories:
- dockerfiles: {}
  e2e:
  - match: .*e2e-tests$
  ignoreConfigs: {}
  imagePrefix: knative-eventing-istio
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: eventing-istio
  slackChannel: '#knative-eventing-ci'
