config:
  branches:
    release-next:
      openShiftVersions:
      - skipCron: true
        version: "4.16"
        useClusterPool: true
    serverless-1.34:
      openShiftVersions:
      - skipCron: true
        version: "4.16"
        useClusterPool: true
repositories:
- dockerfiles: {}
  ignoreConfigs: {}
  imagePrefix: knative-kn-plugin-func
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: kn-plugin-func
  resources:
    '*':
      limits:
        memory: 4Gi
      requests:
        cpu: 100m
        memory: 200Mi
  slackChannel: '#knative-functions'
  tests:
  - as: unit
    commands: GOPATH=/tmp/go GOFLAGS="" make test
    container:
      from: src
  - as: e2e-oncluster-test
    cluster_claim:
      architecture: amd64
      cloud: aws
      owner: serverless-ci
      product: ocp
      timeout: 1h0m0s
      version: "4.16"
    steps:
      test:
      - as: test
        commands: |
          export GOPATH=/tmp/go
          export GOFLAGS=""
          openshift/cluster-prepare.sh
          openshift/e2e_oncluster_tests.sh
        dependencies:
        - env: FUNC_UTILS_IMG
          name: knative-kn-plugin-func-func-util
        from: src
        resources:
          requests:
            cpu: 100m
        timeout: 1h0m0s
      workflow: generic-claim
