config:
  branches:
    release-1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - useClusterPool: true
        version: "4.18"
    release-1.16:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
    release-1.17:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - skipCron: true
        useClusterPool: true
        version: "4.18"
    release-1.18:
      konflux:
        enabled: true
      openShiftVersions:
      - skipCron: true
        useClusterPool: true
        version: "4.18"
    release-next:
      openShiftVersions:
      - skipCron: true
        useClusterPool: true
        version: "4.18"
repositories:
- dockerfiles: {}
  e2e:
  - match: e2e
  ignoreConfigs:
    matches:
    - release-1\.13
    - release-1\.14
  imageNameOverrides:
    kn-event-sender: sender
  imagePrefix: kn-plugin-event
  org: openshift-knative
  promotion:
    namespace: knative
    template: release-${version}
  repo: kn-plugin-event
  resources:
    '*':
      limits:
        memory: 8Gi
      requests:
        cpu: 100m
        memory: 200Mi
  slackChannel: '#knative-client'
  tests:
  - as: unit
    commands: make unit
    container:
      from: src
  owners:
    reviewers:
      - dsimansk
      - cardil
      - creydr
      - maschmid
      - mvinkler
      - jrangelramos
      - rudyredhat1
      - Kaustubh-pande
    approvers:
      - dsimansk
      - cardil
      - creydr
      - maschmid
      - openshift-cherrypick-robot
      - rudyredhat1
