config:
  branches:
    release-v1.11:
      openShiftVersions:
      - skipCron: true
        version: "4.16"
        useClusterPool: true
      - onDemand: true
        skipCron: true
        version: "4.12"
    release-v1.12:
      openShiftVersions:
      - version: "4.16"
        useClusterPool: true
      - onDemand: true
        version: "4.12"
    release-v1.14:
      openShiftVersions:
      - version: "4.16"
        useClusterPool: true
      - onDemand: true
        version: "4.13"
    release-v1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - version: "4.16"
        useClusterPool: true
      - onDemand: true
        version: "4.13"
repositories:
- dockerfiles: {}
  ignoreConfigs: {}
  imagePrefix: net-istio
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: net-istio
  slackChannel: '#knative-serving-ci'
