# Full struct in cmd/prowgen/prowgen.go#Config

config:
  branches:
    "release-v1.8":
      cron: "0 19 * * 1-5"
      openShiftVersions:
        - 4.12
        - 4.10
    "release-v1.9":
      cron: "0 21 * * 1-5"
      openShiftVersions:
        - 4.12
        - 4.10
    "release-next":
      cron: "0 8 * * 1-5"
      openShiftVersions:
        - 4.12
        - 4.10

repositories:
  - org: openshift-knative
    repo: serving
    imagePrefix: knative-serving
    imageNameOverrides:
      migrate: storage-version-migration
    slackChannel: "#knative-serving-ci"
    e2e:
      matches:
        - ".*e2e$"
        - ".*e2e-tls$"
    resources:
      '*':
        requests:
          cpu: 500m
          memory: 4Gi
