config:
  branches:
    release-v1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.16:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.17:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
    release-v1.21:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.21"
      - useClusterPool: true
        version: "4.20"
      - onDemand: true
        version: "4.14"
      promotion: {}
repositories:
- dockerfiles: {}
  ignoreConfigs: {}
  imagePrefix: net-kourier
  org: openshift-knative
  owners:
    approvers:
    - creydr
    - dsimansk
    - Fedosin
    - Kaustubh-pande
    - maschmid
    - mvinkler
    - rudyredhat1
    reviewers:
    - dsimansk
    - Fedosin
    - mvinkler
  promotion:
    namespace: openshift
  repo: net-kourier
  slackChannel: '#knative-serving-ci'
