config:
  branches:
    release-v1.14:
      openShiftVersions:
      - onDemand: true
        version: "4.16"
      - onDemand: true
        version: "4.13"
    release-v1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
    release-v1.16:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
    release-v1.17:
      konflux:
        enabled: true
      openShiftVersions:
      - candidateRelease: true
        onDemand: true
        skipCron: true
        version: "4.19"
      - useClusterPool: true
        version: "4.18"
      - onDemand: true
        version: "4.14"
repositories:
- dockerfiles: {}
  ignoreConfigs: {}
  imagePrefix: net-istio
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: net-istio
  slackChannel: '#knative-serving-ci'
  owners:
    reviewers:
      - dsimansk
      - Fedosin
      - mvinkler
    approvers:
      - dsimansk
      - Fedosin
      - mvinkler
