config:
  branches:
    release-v1.10:
      openShiftVersions:
      - version: "4.15"
    release-v1.11:
      openShiftVersions:
      - skipCron: true
        version: "4.15"
      - onDemand: true
        skipCron: true
        version: "4.12"
    release-v1.12:
      openShiftVersions:
      - version: "4.15"
      - onDemand: true
        version: "4.12"
repositories:
- dockerfiles: {}
  ignoreConfigs: {}
  imagePrefix: net-istio
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: net-istio
  slackChannel: '#knative-serving-ci'
