config:
  branches:
    main:
      konflux:
        enabled: true
        excludes:
        - .*rosa.*
        imageOverrides:
        - name: GO_BUILDER
          pullSpec: brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
        - name: GO_RUNTIME
          pullSpec: registry.access.redhat.com/ubi8/ubi-minimal
        - name: JAVA_BUILDER
          value: registry.access.redhat.com/ubi8/openjdk-21
        - name: JAVA_RUNTIME
          value: registry.access.redhat.com/ubi8/openjdk-21-runtime
      openShiftVersions:
      - cronForceKonfluxIndex: true
        generateCustomConfigs: true
        useClusterPool: true
        version: "4.16"
      - cronForceKonfluxIndex: true
        onDemand: true
        version: "4.13"
    release-1.35:
      konflux:
        enabled: true
        excludes:
        - .*rosa.*
        imageOverrides:
        - name: GO_BUILDER
          pullSpec: brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
        - name: GO_RUNTIME
          pullSpec: registry.access.redhat.com/ubi8/ubi-minimal
        - name: JAVA_BUILDER
          value: registry.access.redhat.com/ubi8/openjdk-21
        - name: JAVA_RUNTIME
          value: registry.access.redhat.com/ubi8/openjdk-21-runtime
      openShiftVersions:
      - generateCustomConfigs: true
        useClusterPool: true
        version: "4.16"
      - onDemand: true
        version: "4.13"
      prowgen:
        disabled: true
repositories:
- customConfigs:
  - name: aws-ovn
    releaseBuildConfiguration:
      tests:
      - as: e2e-aws-ovn-continuous
        cron: 25 0 * * 6
        steps:
          cluster_profile: aws
          test:
          - as: operator-e2e
            commands: make test-e2e-with-kafka
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-serving-eventing-e2e
            commands: make test-upstream-e2e-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-eventing-kafka-broker-e2e
            commands: make test-upstream-e2e-kafka-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 8Gi
              requests:
                cpu: 100m
                memory: 200Mi
          workflow: openshift-e2e-aws-ovn
        timeout: 8h0m0s
      zz_generated_metadata:
        branch: ""
        org: ""
        repo: ""
  - name: azure
    releaseBuildConfiguration:
      tests:
      - as: e2e-azure-continuous
        cron: 6 7 * * 6
        steps:
          cluster_profile: azure4
          test:
          - as: operator-e2e
            commands: make test-e2e-with-kafka
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-serving-eventing-e2e
            commands: make test-upstream-e2e-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-eventing-kafka-broker-e2e
            commands: make test-upstream-e2e-kafka-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 8Gi
              requests:
                cpu: 100m
                memory: 200Mi
          workflow: openshift-e2e-azure
        timeout: 8h0m0s
      zz_generated_metadata:
        branch: ""
        org: ""
        repo: ""
  - name: gcp
    releaseBuildConfiguration:
      tests:
      - as: e2e-gcp-continuous
        cron: 10 14 * * 6
        steps:
          cluster_profile: gcp
          test:
          - as: operator-e2e
            commands: make test-e2e-with-kafka
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-serving-eventing-e2e
            commands: make test-upstream-e2e-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-eventing-kafka-broker-e2e
            commands: make test-upstream-e2e-kafka-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 8Gi
              requests:
                cpu: 100m
                memory: 200Mi
          workflow: openshift-e2e-gcp
        timeout: 8h0m0s
      zz_generated_metadata:
        branch: ""
        org: ""
        repo: ""
  - name: hypershift
    releaseBuildConfiguration:
      base_images:
        hypershift-operator:
          name: "4.16"
          namespace: ocp
          tag: hypershift-operator
        upi-installer:
          name: "4.16"
          namespace: ocp
          tag: upi-installer
      releases:
        latest:
          integration:
            include_built_images: true
            name: "4.16"
            namespace: ocp
      tests:
      - as: e2e-hypershift-continuous
        cron: 43 20 * * 6
        steps:
          cluster_profile: aws-cspi-qe
          env:
            BASE_DOMAIN: cspilp.interop.ccitredhat.com
            HYPERSHIFT_BASE_DOMAIN: cspilp.interop.ccitredhat.com
            HYPERSHIFT_NODE_COUNT: "6"
          test:
          - as: operator-e2e
            commands: make USER_MANAGEMENT_ALLOWED=false test-e2e-with-kafka
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-serving-eventing-e2e
            commands: make test-upstream-e2e-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-eventing-kafka-broker-e2e
            commands: make test-upstream-e2e-kafka-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 8Gi
              requests:
                cpu: 100m
                memory: 200Mi
          workflow: cucushift-installer-rehearse-aws-ipi-ovn-hypershift-guest
        timeout: 8h0m0s
      zz_generated_metadata:
        branch: ""
        org: ""
        repo: ""
  - name: osd
    releaseBuildConfiguration:
      base_images:
        cli-ocm:
          name: cli-ocm
          namespace: ci
          tag: latest
      tests:
      - as: e2e-osd-continuous
        cron: 31 3 * * 0
        steps:
          cluster_profile: osd-ephemeral
          env:
            CLUSTER_DURATION: "10800"
            CLUSTER_VERSION: "4.16"
            COMPUTE_NODES: "4"
          post:
          - chain: gather
          - ref: osd-delete-delete
          pre:
          - ref: ipi-install-rbac
          - ref: osd-create-create
          test:
          - as: operator-e2e
            commands: make test-e2e-with-kafka
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          - as: knative-serving-eventing-e2e
            commands: make test-upstream-e2e-no-upgrade
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
        timeout: 8h0m0s
      zz_generated_metadata:
        branch: ""
        org: ""
        repo: ""
  - name: single-node
    releaseBuildConfiguration:
      tests:
      - as: e2e-sno-continuous
        cron: 24 10 * * 0
        steps:
          cluster_profile: gcp
          test:
          - as: operator-e2e
            commands: make HA=false test-e2e-with-kafka-no-tracing
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          workflow: openshift-e2e-gcp-single-node
        timeout: 8h0m0s
      zz_generated_metadata:
        branch: ""
        org: ""
        repo: ""
  - name: vsphere
    releaseBuildConfiguration:
      base_images:
        upi-installer:
          name: "4.16"
          namespace: ocp
          tag: upi-installer
      tests:
      - as: e2e-vsphere-continuous
        cron: 35 17 * * 0
        steps:
          cluster_profile: vsphere-elastic
          test:
          - as: operator-e2e
            commands: make HA=false test-e2e-with-kafka
            from: serverless-source-image
            resources:
              limits:
                memory: 6Gi
              requests:
                cpu: 100m
                memory: 200Mi
          workflow: openshift-e2e-vsphere-upi
      zz_generated_metadata:
        branch: ""
        org: ""
        repo: ""
  dockerfiles:
    matches:
    - knative-operator/.*
    - openshift-knative-operator/.*
    - serving/metadata-webhook/.*
    - serving/ingress/.*
    - olm-catalog/serverless-operator/Dockerfile
    - olm-catalog/serverless-operator-index/Dockerfile
  e2e:
  - match: ^operator-e2e$
  - match: ^test-upgrade$
  - ignoreError: true
    match: ^upstream-e2e$
    skipCron: true
  - ignoreError: true
    match: ^upstream-e2e-kafka$
  - ignoreError: true
    match: ^mesh-e2e$
    onDemand: true
    timeout: 4h0m0s
  - ignoreError: true
    match: ^mesh-upgrade$
    onDemand: true
    skipCron: true
  - ignoreError: true
    match: ^ui-e2e$
    onDemand: true
    runIfChanged: test/ui
  - ignoreError: true
    match: ^test-soak$
    onDemand: true
    runIfChanged: test/soak
  - ignoreError: true
    match: ^kitchensink-e2e$
    onDemand: true
  - ignoreError: true
    match: ^kitchensink-upgrade$
    onDemand: true
  ignoreConfigs:
    matches:
    - .*main.yaml$
    - .*lp-interop.*
    - .*lp-interop.*
    - .*rosa-classic.*
  imageNameOverrides:
    serverless-operator: bundle
    serverless-operator-index: index
  imagePrefix: serverless
  org: openshift-knative
  promotion:
    namespace: knative
  repo: serverless-operator
  resources:
    '*':
      limits:
        memory: 6Gi
      requests:
        cpu: 100m
        memory: 200Mi
  slackChannel: '#serverless-ci'
