config:
  branches:
    release-next:
      openShiftVersions:
      - version: "4.15"
      - onDemand: true
        version: "4.12"
      skipDockerFilesMatches:
      - openshift/ci-operator/knative-perf-images.*
      skipE2EMatches:
      - perf-tests$
      - .*e2e-tls$
    release-v1.11:
      openShiftVersions:
      - skipCron: true
        version: "4.15"
      - onDemand: true
        skipCron: true
        version: "4.12"
    release-v1.12:
      openShiftVersions:
      - version: "4.15"
      - onDemand: true
        version: "4.12"
      skipE2EMatches:
      - .*e2e-tls$
    release-v1.14:
      openShiftVersions:
      - version: "4.15"
      - onDemand: true
        version: "4.12"
    release-v1.15:
      konflux:
        enabled: true
      openShiftVersions:
      - version: "4.15"
      - onDemand: true
        version: "4.12"
repositories:
- dockerfiles:
    matches:
    - openshift/ci-operator/knative-images.*
    - openshift/ci-operator/knative-test-images.*
    - openshift/ci-operator/knative-perf-images.*
  e2e:
  - match: .*e2e$
    skipImages:
    - knative-serving-load-test
    - knative-serving-dataplane-probe
    - knative-serving-real-traffic-test
    - knative-serving-reconciliation-delay
    - knative-serving-rollout-probe
    - knative-serving-scale-from-zero
  - match: .*e2e-tls$
    skipImages:
    - knative-serving-load-test
    - knative-serving-dataplane-probe
    - knative-serving-real-traffic-test
    - knative-serving-reconciliation-delay
    - knative-serving-rollout-probe
    - knative-serving-scale-from-zero
  - match: perf-tests$
    onDemand: true
  ignoreConfigs: {}
  imageNameOverrides:
    migrate: storage-version-migration
  imagePrefix: knative-serving
  org: openshift-knative
  promotion:
    namespace: openshift
  repo: serving
  resources:
    '*':
      requests:
        cpu: 500m
        memory: 4Gi
  slackChannel: '#knative-serving-ci'
