name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  go-unit-tests:
    name: Go unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version-file: go.mod

      - name: Check out code
        uses: actions/checkout@v2

      - name: Run unit tests
        run: make unit-tests
