name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  go-unit-tests:
    name: Go unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Setup Golang
        uses: ./actions/setup-go

      - name: Run unit tests
        run: make unit-tests
